body{
margin:0;
font-family:Arial;
background:#050816;
color:white;
text-align:center;
overflow-x:hidden;
}

h1{
font-size:48px;
padding-top:30px;
background:linear-gradient(to right,#00ffff,#ffffff);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
text-shadow:0 0 20px #00ffff55;
}

.info{
width:90%;
margin:auto;
margin-top:25px;
padding:25px;
background:#111827;
border-radius:25px;
box-shadow:0 0 25px #00ffff22;
}

.info h2{
font-size:38px;
color:#00ffff;
}

.info p{
font-size:18px;
line-height:30px;
}

.stats{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
margin-top:30px;
}

.card{
background:#111827;
width:130px;
padding:25px;
border-radius:25px;
box-shadow:0 0 25px #00ffff22;
}

.card h2{
font-size:36px;
margin:0;
color:#00ffff;
}

.card p{
font-size:18px;
}

.module-title{
margin-top:50px;
font-size:42px;
}

.modules{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:25px;
padding:25px;
}

.module-card{
width:280px;
padding:30px;
background:#111827;
border-radius:25px;
cursor:pointer;
transition:0.3s;
box-shadow:0 0 20px #ff00ff22;
}

.module-card:hover{
transform:translateY(-10px);
box-shadow:0 0 35px #00ffff55;
}

.module-card h3{
font-size:28px;
color:#00ffff;
}

.module-card p{
font-size:18px;
line-height:28px;
}

.hidden{
display:none;
}

.back-btn{
margin-top:20px;
padding:14px 25px;
border:none;
border-radius:15px;
background:#00ffff;
color:black;
font-size:18px;
cursor:pointer;
font-weight:bold;
}

#scene-container{
width:90%;
height:420px;
margin:auto;
margin-top:25px;
background:black;
border-radius:25px;
box-shadow:0 0 35px #00ffff44;
}

.quiz{
width:90%;
margin:auto;
margin-top:30px;
padding:25px;
background:#111827;
border-radius:25px;
box-shadow:0 0 20px #ff00ff22;
margin-bottom:40px;
}

.quiz h2{
font-size:36px;
color:#ff00ff;
}

.quiz p{
font-size:20px;
}

button{
padding:14px 24px;
margin:12px;
border:none;
border-radius:15px;
background:#111c44;
color:white;
font-size:17px;
cursor:pointer;
transition:0.3s;
box-shadow:0 0 15px #00ffff33;
}

button:hover{
background:#00ffff;
color:black;
transform:scale(1.05);
}

#result{
font-size:28px;
margin-top:20px;
color:#00ff99;
}

body::before{
content:'';
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(white 1px, transparent 1px);
background-size:40px 40px;
opacity:0.15;
z-index:-1;
}

@media(max-width:768px){

h1{
font-size:34px;
}

.module-title{
font-size:32px;
}

.info h2{
font-size:28px;
}

.module-card{
width:85%;
}

.card{
width:110px;
}

}
